
@import url(./mini.css);
@import url(./desktop.css);

/*ESTILOS GENERALES*/
html{
    min-height: 100vh;
}

body{
    display:grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100% !important;
    overflow-x: hidden !important;
    font-family: 'Encode Sans', sans-serif;
}

.activar{
    display: block !important;
}

.inactive {
    display: none !important;
}

/*ESTILOS PARA EL NAV*/
header{
    background-color: #30343F;
}

.envoltorioNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0px auto;
    height: 60px;
    padding: 20px;
}

.logoNav img{
    height: 50px;
}

.navLinksUL{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    align-items: center;
    background-color: #30343F;
    height: 100%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    margin: 0px;
    list-style: none;
    font-size: 2rem;
    line-height: 6rem;
    text-align: center;
    padding: 6rem 0 0 0;
    z-index: 1;
}

nav li a{
    padding: 11px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.logoNavDesktop{
    display: none;
}


/*boton del nav en mobile*/
.openMenu{
    border: none;
    background-color: #30343F;
    color: white;
}
.openMenu img{
    background-color: #30343F;
}

.closeMenu {
    position: absolute;
    top: 37px;
    right: 22px;
    background: #30343f;
    border: none;;
}

.menuAbierto{
    opacity: 1;
    pointer-events: all;
}

/*ESTILOS PARA LA SECCION DEL BANNER PRINCIPAL*/
.principalBanner{
    display: inline-block;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/funkos-banner.webp);
    width: 100%;
    height: 438px;
    background-repeat: no-repeat;
    background-size: cover;
}

.textoBanner{
    position: absolute;
    top: 20%;
    padding: 20px;
    color: white;
}

.textoBanner h1{
    font-weight: bold;
    text-transform: uppercase;
}

.textoBanner a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 211px;
    height: 47px;
    text-decoration: none;
    left: 110px;
    top: 244px;
    background: #FFFFFF;
    color: black;
    font-weight: bold;
    border-radius: 50px;
}


/*ESTILOS PARA SECCION PRINCIPAL DE FUNKOS*/
.funkosImgMini{
    display: none;
}

.hr {
    display: block;
    width: 100%;
    background: content-box;
    border-color: #ff4848;
}

.funkoColeccion{
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 20px;
}

.funkoColeccionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.funkoContainerCart{
    flex-direction: column;
}

.textoFunkosCart{
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}

/* precio de los funkos */
.price{
    font-weight: bold;
}

/* boton eliminar en pagina cart (carrito de compras)*/
.botones_comprar_eliminar{
    flex-direction: row !important;
    align-items: center !important;
}

.eliminar, .eliminarPokemon, .eliminarHP{
    display: flex;
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #ff4848;
    justify-content: center;
    align-items: center;
}

.eliminar img, .eliminarPokemon img, .eliminarHP img{
    height: 38px !important;
}

/* boton comprar en pagina cart (carrito de compras) */

.btnComprar ,.btnComprarPokemon ,.btnComprarHP{
    position: relative;
    background: transparent;
    padding: 12px;
    color: red;
    font-weight: bold;
    letter-spacing: 2px;
    border: 0.9px solid red;
    margin-right: 20px;
}

/* botones ver coleccion */

.botonColeccion{
    background-color: #30343F;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    width: 180px;
    position: absolute;
    height: 35px;
    display: flex;
    font-size: medium;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
}


.funkoColeccionContainer img{
    height: 280px;
}



.funkoColeccionContainer div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: baseline;
    padding-bottom: 10px;
}

/* estilos para los botones de la pagina CART en la seccion principal */
.botonera {
    flex-direction: row !important;
}


.botonera input{
    width: 26px;
    height: 17px;
    text-align: center;
}

.btnBotonera{
    height: 23px;
    width: 28px;
    background: #4F4F4F;
    color: white;
}

/* estilos para quitarle al input tipo number las flechitas para subir y bajar el valor del value. */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }


/* ESSTILO PAR SPAN DE CARRITO DE COMPRAS VACIO EN CART.HTML */
.carritoVacio{
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: red;
    word-break: break-word;
    margin: 20px;
}

hr {
    width: 100%;
}

/*ESTILOS PARA LA SECCION ULTIMOS LANZAMIENTOS*/

.ultimosLanzamientosSpan{
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    word-break: break-word;
    margin: 20px;
}

.caracteristica span{
    background-color: #ff4848;
    font-size: 1rem;
    color: #fff;
    height: 30px;
    position: absolute;
    text-align: center;
    width: 75px;
    right: 0px;
    line-height: 30px;
    top: 0px;
}

.mySlides {
    display: none;
    /* pointer-events: none; */
}

img {
    vertical-align: middle;
}

.textoLanzamientosCarta{
    text-align: center;
}

.cuotas{
    color: #1D84B5;
}

/* Slideshow container */

.slideshow-container {
    max-width: 60%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/*ESTILOS PARA EL FOOTER*/

footer{
    background-color: #30343F
    ;
}

.navFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    max-width: 1200px;
}

.navLinksFooter ul{
    list-style: none;
}

.navLinksFooter ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.navLinksFooter li{
    padding: 5px;
}

.logoFooter img{
    height: 100px;
}

footer p{
    text-align: center;
    color: white;
}

/*PAGINA SHOP*/

/*ESTILOS PARA LA SECCION SEARCH*/
.contenedorPrincipal{
    display: flex;
    flex-direction: column;
}

.mainContainer{
    padding: 20px;
}

.search{
    display: block;
    text-align: center;
}

.search p{
    font-weight: bold;
}

.noResults{
    font-size: 0.8rem;
    color: red;
}

.inputSearch{
    font-size: 12px;
    padding: 5px 12px;
    border-color: black;
    border: groove;
    border-radius: 6px;
}

.buttonSearch{
    margin-top: 6px;
    background: red;
    color: #fff;
    border-radius: 5px;
    border-color: red;
    padding: 6px 13px;
    font-size: 12px;
}

#ordenarPor {
    border: groove;
    border-radius: 10px;
    padding: 2px 12px;
}

.minMaxInputs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.minMaxInputs input{
    width: 30%;
    margin: 5px;
}

.filter{
    display: none;
}

/* ESTILOS PARA LA PAGINA LOGIN */

.pantallaCompleta{
    position: absolute;
    background-color: #30343F;
    height: 100vh;
    width: 100vw;
    z-index: 999999;
}

.containerLoginForm {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form {
    text-align: center;
    width: 300px;
    padding: 1rem;
    background-color: transparent;
    border: 1px solid #ff4848;
    border-radius: 5px;
    margin: 5%;
}

.sign-in-container {
    display: none;
}

h1 {
    margin-bottom: 1rem;
}

.form input {
    display: block;
    width: 90%;
    padding: .5rem;
    margin: auto;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form input[type="submit"] {
    width: 100%;
    padding: .5rem;
    cursor: pointer;
    background-color: #ff4848;
    border: none;
    color: #fff;
}

.form a {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    width: 150px;
    font-size: .8rem;
    font-weight: bold;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}


/* ESTILOS PARA LA SECCION DE CONTACTO */

#container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1,2fr);
    grid-gap: 50px;
    text-align: center;
}

#container-form h2{
    margin-bottom: 15px;
    font-size: 35px;
    text-decoration: underline;
}

#container-form h3{
    font-weight: normal;
    color: #ff4848;
}

#container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}

#container-form a i{
    color: #ff4848;
    margin-right: 10px;
}


#container-form form .campo{
    width: 90%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    outline: 0px;
}

#container-form textarea{
    width: 90%;
    height: 270px;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}

#container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #ff4848;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}

#sobre-nosotros-contact-form{
    display: flex;
    justify-content: center;
}

.navigation-contact-form{
    align-items: center;
    width: auto;
}

.navigation-contact-form h1{
    text-align: center;
}

/*mensajes en el formulario (parrafos)*/
.alertas{ 
    color: #ff4848;
    font-size: 0.8rem;
}


/* seccion stock insuficiente en cart.html */
.noStock{
    background-color: #101010;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.98;
    transition: 0.5s ease-in-out;
    z-index: 9999;
}

.stockContainer h2{
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
    text-align: center;
    font-weight: bold;
}

.btnCloseStock{
    position: absolute;
    top: 20%;
    right: 1%;
    border: none;
    background: #101010;
    cursor: pointer;
}

/* seccion producto comprado cart.html */
.comprado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    background-color: #101010;
    z-index: 9999;
    
}

.btnSeguirComprando{
    position: relative;
    background: transparent;
    padding: 12px;
    color: red;
    font-weight: bold;
    letter-spacing: 2px;
    border: 0.9px solid red;
    margin-right: 20px;
}

.textoComprado{
    width: 80%;
    margin: 0px auto;
}

.textoComprado h1{
    color: white;
}

.textoComprado p{
    color: white;
}

.textoComprado p a{
    color: blue;
    text-decoration: none;
}
